<p-fluid>
    <p-toast></p-toast>
    <div class="flex mt-8">
        <form [formGroup]="companyForm" (ngSubmit)="onSubmit()" class="w-full">
            <div class="card flex flex-col gap-6 w-full">
               <div class="font-semibold text-xl">
                    {{ editingCompanyId ? 'Edit Company' : 'Create Company' }}
                </div>

                <div class="flex flex-col md:flex-row gap-6">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="fullname2">FullName*</label>
                        <input pInputText id="fullname2" type="text" formControlName="name"
                            [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid('fullName')}" />
                        <small class="text-red-500" *ngIf="isFieldInvalid('fullName')">
                            {{getErrorMessage('fullName')}}
                        </small>
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="shortname2">ShortName*</label>
                        <input pInputText id="shortname2" type="text" formControlName="shortName"
                            [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid('shortName')}" />
                        <small class="text-red-500" *ngIf="isFieldInvalid('shortName')">
                            {{getErrorMessage('shortName')}}
                        </small>
                    </div>
                </div>

                <div class="flex flex-col md:flex-row gap-6">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="email2">Email*</label>
                        <input pInputText id="email2" type="email" formControlName="email"
                            [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid('email')}" />
                        <small class="text-red-500" *ngIf="isFieldInvalid('email')">
                            {{getErrorMessage('email')}}
                        </small>
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="phone2">Phone No*</label>
                        <input pInputText id="phone2" type="text" formControlName="phone"
                            [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid('phone')}" />
                        <small class="text-red-500" *ngIf="isFieldInvalid('phone')">
                            {{getErrorMessage('phone')}}
                        </small>
                    </div>
                </div>

                <div class="flex flex-col md:flex-row gap-6">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="address">Address*</label>
                        <textarea pTextarea id="address" rows="4" formControlName="address" class="w-full"
                            placeholder="Enter complete address"
                            [ngClass]="{'ng-invalid ng-dirty': isFieldInvalid('address')}"></textarea>
                        <small class="text-red-500" *ngIf="isFieldInvalid('address')">
                            {{getErrorMessage('address')}}
                        </small>
                    </div>
                    <div class="flex flex-col gap-4 justify-center w-full md:w-1/3">
                        <div class="flex items-center">
                            <p-checkbox formControlName="isActive" [binary]="true" inputId="isActive"></p-checkbox>
                            <label for="isActive" class="ml-2">Is Active</label>
                        </div>
                    </div>
                </div>

                <div class="flex gap-3">
                    <p-button type="submit" label="Submit" severity="primary"></p-button>
                    <p-button type="button" label="Reset" severity="secondary" (onClick)="onReset()"></p-button>
                </div>
            </div>
        </form>

        <!-- Company Table -->

    </div>
</p-fluid>

<!-- Get Data -->
<div class="w-full mt-6">
    <!-- PrimeNG Table -->
    <p-table #dt [value]="companies" [rows]="5" [paginator]="true"
        [globalFilterFields]="['fullName','shortName','email','phone','address']" styleClass="p-datatable-sm">

        <ng-template pTemplate="caption">
                <div class="flex items-center justify-between">
                    <h5 class="m-0">Companies Record</h5>
                    <p-iconfield>
                        <p-inputicon styleClass="pi pi-search" />
                        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
                    </p-iconfield>
                </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th>Full Name</th>
                <th>Short Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-company>
            <tr>
                <td>{{ company.name }}</td>
                <td>{{ company.shortName }}</td>
                <td>{{ company.contactEmail }}</td>
                <td>{{ company.contactPhone }}</td>
                <td>{{ company.address }}</td>
                <td>
                    <p-tag [severity]="company.isActive ? 'success' : 'danger'"
                        [value]="company.isActive ? 'Active' : 'Inactive'" />
                </td>
                <td>
                    <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (onClick)="onEdit(company)" />
                    <!-- <p-button 
                    icon="pi pi-trash" 
                    severity="danger" 
                    [rounded]="true" 
                    [outlined]="true" 
                    
                /> -->
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7" class="text-center">
                    No companies found.
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>